<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to Elite Technologies - World of Car Analytics - where we give you car specific insights for some of the world's best cars.">
    <meta name="author" content="Elite Technologies">

    <title>The Road Runners</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="css/footer-basic-centered.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="main-nav-font" style="color:white !important; font-size:35px !important"  href="/">The Road Runners</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacts">Team</a>
                    </li>
                </ul>
            </div>
            -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="collapse container" id="collapseExample">

    </div>
    
<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

    <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('images/car1.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('images/car2.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('images/car3.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    
    <!-- Page Content -->
    <div id="home" class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    The Road Runners Dashboard
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:white; font-size:1.5em;">Jaguar</h4>
                    </div>
                    <div class="panel-body">
                        <p>Jaguar cars have a long history of elegant styling and sporting performance. The brand was born in the United Kingdom, and for years its vehicles were synonymous with the old-world luxury of the British upper classes. More recently, Jaguar has been under the ownership of other automakers, but Jaguar cars will always bear the unmistakable gleam of traditional English refinement.</p>
                        <a href="/jaguar" class="btn btn-default">Click Me!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:white; font-size:1.5em;">Porsche</h4>
                    </div>
                    <div class="panel-body">
                        <p>Porsche cars have a virtually untarnished reputation and are considered among the finest performance vehicles in the world. It's a reputation that's well-deserved. With razor-sharp handling and power aplenty, Porsche vehicles offer a driving experience like no other. It's little wonder that, for many, the marque has come to define the sports car category. </p>
                        <a href="/porche" class="btn btn-default">Click Me!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:white; font-size:1.5em;">Audi</h4>
                    </div>
                    <div class="panel-body">
                        <p>In business for more than 100 years, Audi is an automaker that builds luxury cars and SUVs. The company was started in Germany and has remained Deutschland-based to this day.Today, Audi continues its success in the prestige car marketplace by offering a wide range of vehicles that impressively combine luxury and sport.</p>
                        <a href="/audi" class="btn btn-default">Click Me!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>


        <!-- Footer -->
        <footer class="footer-basic-centered">

            <p class="footer-company-name">The Road Runners</p>
            
        </footer>




    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    
    <div id="fb-root"></div>
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

</body>

</html>
