<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.ejs%>
  
  </head>


<body>
<% include header.ejs%>
<img style="margin-bottom:10px; align-self:center; height:50%; width:100%" class="active visible-lg img-responsive" src="/../images/jaguar.jpg" />
    
<% include midder.ejs%>	


        <div class="tab-content">
        	<div class="tab-pane active" id="tab0">
      			<div class="jumbotron">
      			<h1 style="margin-top:-30px;font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; padding-top:-20px"> Jaguar</h1>
                <h3 style="margin-top:-10px;font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif"><u>Born to perform.</u></h3>
                 <p style="font-size:16px; font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; margin-bottom:-20px" > Jaguar cars have a long history of elegant styling and sporting performance. The brand was born in the United Kingdom, and for years its vehicles were synonymous with the old-world luxury of the British upper classes. More recently, Jaguar has been under the ownership of other automakers, but Jaguar cars will always bear the unmistakable gleam of traditional English refinement.

The company traces its roots to the Swallow Sidecar Company, founded in 1922 by Bill Lyons and William Walmsley. Based in Blackpool, England, the company produced a popular line of aluminum motorcycle sidecars. Swallow eventually switched its focus to automobile production, changing its name to SS Cars Ltd. in 1933. The first vehicle to carry the Jaguar name was the SS Jaguar 100, released in 1935.

After World War II, SS Cars switched its moniker to Jaguar so as not to be associated with the Nazi paramilitary organization that bore the same initials. Its first postwar offering was 1948's Mark V. The luxury sedan was joined that year by the XK 120, a sports car that was the fastest production automobile of its day — its name indicating its top speed. The XK 120 proved quite popular, and helped Jaguar establish a strong presence in the sports car market.

By the 1950s, Jaguar had begun exporting luxury vehicles to the United States. Created just for the American market, the Mark VII Saloon was introduced in 1951 and was a hit with stateside motorists. In 1956, the car took the prize at the Monte Carlo Rally. Later in the decade, Jaguar added the Mark VIII and Mark IX to its lineup. Meanwhile, the XK became the XK 140 as performance increased. Then came the XK 150 which was obviously even faster, though not quite as curvaceously alluring as the 120/140 models.

The 1960s saw the launch of one of Jaguar's most well-known models. The E-Type (or XK-E as it was known in the U.S.) debuted for 1961. The new sports car, available as either a coupe or convertible, provided performance and refinement wrapped up in an undeniably sexy package. The success of groups like the Beatles and the Rolling Stones and icons like Twiggy the fashion model made British culture a hot commodity during the '60s — a fact that likely had positive implications for Jaguar's popularity in the U.S.

A decade later, Jaguar introduced the XJ6C and XJ12C coupes to join the sedans. At one point, the XJ12 was the fastest production sedan of its day. By the mid-'70s the lovely E-Type was replaced by the relatively bland XJ-S. The 1980s saw Jaguar continuing to raise the bar in performance with the launch of the XJ-S HE and a true world supercar, the XJ220.
By this time, however, Jaguar's cars had also built up a reputation for questionable reliability, electrical problems being the chief source of owners' angst. Increased competition from German automakers and adverse exchange rates didn't help matters either. Without much capital to work with to improve matters, the company decided to pursue a partnership with another company. This decision ultimately led to a full buyout of Jaguar by Ford in 1990.

Ford's influence (and financial support) was evident with the 1997 launch of Jaguar's XK8 and supercharged XKR sports cars. Powering both was Jaguar's new AJ-V8, a compact yet powerful engine that was also used in certain Land Rover vehicles. A few years later, Jaguar made an effort to broaden its product line with the introduction of a lower-priced, entry-luxury compact sedan known as the X-Type. Unfortunately, this model sold poorly, as its modest European Ford sedan underpinnings proved to be a liability. Around this time, Jaguar's old-school traditional styling grew stale as competitors moved into the new millennium with cutting-edge, modern designs inside and out.

Sales plummeted, and Jaguar's financial problems caused further headaches for parent company Ford, which was also experiencing financial turmoil. Ford cut its losses and sold Jaguar (and fellow British premium brand Land Rover) to Indian manufacturer Tata in 2008. Though reliability still remains a concern, new models like the XF and redesigned icons XK and XJ seem to indicate a bright Jaguar future, as they feature modern designs sprinkled with a fair share of classic Britannic charm.</p> </div>
              
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->

<% include footer.ejs%>
	
</body>
