    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        

            <li class="active"><a href="#">About</a></li>
        	<li><a id="bar" href="#">Mileage Statistics</a></li>
            <li><a id="pie" href="#">Drive Types</a></li>
            <li><a id="model" href="#">Fuel Consumption</a></li>
            <li><a id="sankey" href="#">Yearly Statistics</a></li>
            <li><a id="bubble" href="#">Class Statistics</a></li>         
        </ul>
        
    
    
