<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.ejs%>
  
  </head>


<body>
<% include header.ejs%>
<img style="margin-bottom:10px; align-self:center; height:50%; width:100%" class="active visible-lg img-responsive" src="/../images/porche.jpg" />
    
<% include midder.ejs%>	


        <div class="tab-content">
        	<div class="tab-pane active" id="tab0">
      			<div class="jumbotron">
      			<h1 style="margin-top:-30px;font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; padding-top:-20px"> Porsche</h1>
                <h3 style="margin-top:-10px;font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif"><u>Porche, there is no substitute.</u></h3>
                 <p style="font-size:16px; font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; margin-bottom:-20px" >Porsche cars have a virtually untarnished reputation and are considered among the finest performance vehicles in the world. It's a reputation that's well-deserved. With razor-sharp handling and power aplenty, Porsche vehicles offer a driving experience like no other. It's little wonder that, for many, the marque has come to define the sports car category. For years, the only Porsches available were sleek sports cars, but the manufacturer recently expanded its lineup to include other types of vehicles.

The brand has its roots in the Porsche Engineering Office, founded in Stuttgart, Germany, by Ferdinand Porsche in 1931. Porsche brought with him years of experience as an automotive engineer; in the '20s, while employed with Daimler, his skill was tapped to create Mercedes' iconic SS and SSK sports cars. Porsche has long had close ties with Volkswagen, and the first Porsche vehicles were small two-seat sports cars that were largely based on VW chassis. From 1948-'50, most of these early Porsche cars (the brainchild of Porsche and his son Ferry) were actually built in Austria before production was switched to Zuffenhausen, Germany. Ferdinand's first real production car was the VW Beetle, so it was no surprise that his sports cars used those components and had their air-cooled engine mounted in the rear.

The 1950s saw the birth of two icons, the 356 Speedster with its low-cut windshield and the lightweight, midengined 550 Spyder. Both cars helped Porsche rack up a multitude of wins on the racetrack. In the mid-'60s, the 356 made way for the revered 911. Powered by an all-new six-cylinder engine, the coupe scored two consecutive wins at Monte Carlo. Following in the footsteps of its predecessors, the 911's air-cooled flat-six engine was located in the rear of the vehicle.

By the time the '70s rolled around, Porsche had introduced the 914 (the "affordable" Porsche with a midengine design and a targa top), the mighty 911 turbo, the disrespected 924 (powered by a weak front-mounted, water-cooled inline four) and the flagship 928 (front-mounted V8, four-seat coupe). The '80s saw the birth of the 956, a car that went on to become the most successful racecar of all time. The twin-turbo, all-wheel-drive 959 was also launched; it became the first sports car to win the Paris-Dakar Rally and the street version could hit nearly 200 mph. The athletic 944 debuted in 1983, as did a convertible version of the 911, something that had been missing for some years. The '80s also saw the rebirth of the 924, now with some muscle courtesy of the 944's strong-for-the-time (147-horsepower) inline four.

By the early 1990s the 928 had been discontinued and the 944 was replaced by the similar 968. Because of a lack of dynamic product and a tough market climate, Porsche was suffering financially. The company's savior, the Boxster roadster, debuted in 1997 and brought back the spirit of the old 550 Spyder. In 2003, Porsche committed what purists considered a sin as the company brought the Cayenne SUV to the market. However, once those enthusiasts discovered the Cayenne's sporting performance (especially in 450-hp turbo form) all was forgiven. The following year, Porsche brought out the ferocious (605-hp) Carrera GT supercar.

Today, Porsche's lineup is quite broad for a specialty automaker and now even includes a luxury super sport sedan, the Panamera. Throughout its history, Porsche has exhibited amazing resilience, weathering changes in consumer tastes and the economic climate. As such, it's safe to assume that this ever-robust company will continue to be known for making vehicles that excel at performance, luxury and usability.</p> </div>
                
            
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->

<% include footer.ejs%>
	
</body>
